#main{width: 100%; height: auto;position: relative;}
#main .wrap {width: 1180px;}
#main .main_img {background-image: url(../img/header-bg.jpg); background-size: cover; width: 100%; height: 820px;background-position: 50% 50%;position: relative;z-index: -10;}
#main .main_img .main_center {width: 400px;height: auto; position: absolute;top: 30%; left: 50%; margin-left: -200px;}
#main .main_img .main_center h2 {color: #fff; font-size: 18px;text-align: center;}
#main .main_img .main_center h1 {color: #fff; font-size: 36px;text-align: center;margin-bottom: 55px;}
#main .main_img .main_center h1 span {font-size: 48px;}
#main .main_img .main_center .main_btn {text-align: center;position: relative;}
#main .main_img .main_center .main_btn a {width: 160px;height: 30px;border-radius: 4px;display: inline-block; line-height: 30px;cursor: pointer;}
#main .main_img .main_center .main_btn a:first-child{background:#5e889e; color: #fff;font-size: 16px; margin-right: 20px;z-index: 10;}
#main .main_img .main_center .main_btn a:last-child {background:#999999; color: #755562;font-size: 16px;margin-left: 20px;z-index: 10;}

#main  .cloud{width:100%; height:50%; background:url('../img/cloud.png')no-repeat 0% 50%;  animation:moveCloud 80s infinite;position: absolute;bottom: 0%;}

@keyframes moveCloud{
	0%{background-position:0% 70%;}
	50%{background-position:100% 50%;}
	100%{background-position:0% 50%;}
}


/* main .clould{width:100%; height:100%; background:url('../img/cloud.png')no-repeat 0% 100%; display:table; animation:moveCloud 60s infinite;}

@keyframes moveCloud{
	0%{background-position:0% 100%;}
	50%{background-position:100% 100%;}
	100%{background-position:0% 100%;}
} */

#main img {position: absolute;bottom: 0;z-index: -5;}

/* id=section01 */
#section01 {}
#section01 .wrap {width: 1180px;height:250px; margin: 0 auto;}
#section01 .wrap ul{width: 100%;font-size: 0;}
#section01 .wrap ul li{ width: calc(100% / 3 - 10px);height:250px;display: inline-block;position: relative;}
#section01 .wrap ul li img{width: 130px;position: absolute;left: 50%; margin-left: -75px; top: -75px;}
#section01 .wrap ul li h3 {font-size: 18px;text-align: center;margin-top: 75px;color: #5c5c5c;}
#section01 .wrap ul li p {font-size: 14px;text-align: center;margin-top:20px;color: #5c5c5c;}

/* #section02 */
#section02{background-image: url(../img/Investment-Performance-Banner-650.jpg);background-size: cover; width: 100%;height: 200px;position: relative;background-attachment: fixed;z-index: -1;}
#section02 .opacity{position: absolute; background-color: #000;opacity: 50%; width: 100%;height: 200px;z-index: 10;}
#section02 .wrap {width: 1180px;height: 200px;margin: 0 auto;}
#section02 .wrap h3 {font-size: 24px;color: #fff;z-index: 15;position: absolute;text-align: center;left: 50%;margin-left: -250px;top:73px;}
#section02 .wrap a {font-size: 14px;color: #5e889e;position: absolute;z-index: 15;top: 120px;left: 50%;margin-left: -45px;}

#section03 {width: 100%;height: 800px;background-image: url(../img/main2-bg.png), url(../img/main1-bg.png); background-size:cover; background-position: 0% 0%;}
#section03 .wrap{width: 1200px; margin: 0 auto;font-size: 0;}
#section03 .wrap h1{text-align: center;font-size: 36px;margin-bottom: 40px;color: #5e889e;padding-top: 80px;}
#section03 .wrap .list_box{width:1200px; height: 425px;font-size: 0;}
#section03 .wrap .list_box .list{width:calc( 100% / 4 - 20px );margin: 0 10px; height: 425px;padding: 20px 0;background: #fff;position: relative;float: left;}
#section03 .wrap .list_box .list:hover {box-shadow: 0 0 3px 3px #ccc;transition: 0.3s;}
#section03 .wrap .list_box .list .inner_box {width: 240px;margin: 0 auto;overflow: hidden;}
#section03 .wrap .list_box .list .inner_box>img{width: 240px; height: 160px;text-align: center;display:block;}
#section03 .wrap .list_box .list:hover .inner_box>img {transform: scale(1.02);transition: 0.3s;}
#section03 .wrap .list_box .list .inner_box h3 {font-size: 18px;color: #5c5c5c;margin-top: 40px;margin-bottom: 15px;}
#section03 .wrap .list_box .list .inner_box p {font-size: 14px;color: #5c5c5c;}
#section03 .wrap .list_box .list .inner_box a img {display: block; width: 40px;height: 40px;position: absolute;bottom: 20px;right: 20px;}
#section03 .wrap>img {width: 1200px;margin-top: 100px;}

/* section04 */
#section04 {width: 100%; height: 430px;background-image: url(../img/quick-enquiry.jpg);background-size: cover; background-position: 50% 50%;position: relative;z-index: -10;}
#section04 .backcolor {background-color: #5e889e;position: absolute;width: 100%; height: 430px; opacity: 0.5;z-index: -5;}
#section04 .wrap{width: 1200px; margin: 0 auto;}
#section04 .wrap h1{padding-top: 60px;font-size: 36px;color: #fff;text-align: center;}
#section04 .wrap div{padding-top: 50px;font-size: 0;}
#section04 .wrap div img{width: calc(100% / 6 - 20px); margin: 0 10px;height: 100px;display: inline-block;margin-bottom: 20px;}
#section04 .wrap div img:nth-child(7) {margin-left: 210px;}

