@charset "utf-8";
#top {background-image: url(../img/header-bg.jpg); width: 100%; height:280px ; background-size: cover; background-position: 50% 35%; position: relative; position: relative;}
/* #top img {position: absolute;bottom: -35%;} */

#top  .cloud{width:150%; height:130%; background:url('../img/cloud.png')no-repeat 0% 50%;  animation:moveCloud 30s infinite;position: absolute;bottom: 0%;}

@keyframes moveCloud{
	0%{background-position:0% 30%;}
	50%{background-position:100% 50%;}
	100%{background-position:0% 50%;}
}